<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap.css">
</head>
<body style="margin-top: 70px">
<div class="container" ng-controller="UserCtrl">
    <form name="userform" novalidate="novalidate">
        <div class="form-group">
            <label for="password">密码</label>
            <input name="password" type="text" class="form-control" id="password"
            ng-model="user.password">
        </div>
        <div class="form-group">
            <label for="repassword">重复密码</label>
            <input name="repassword" same-password="user.password" type="text" class="form-control" id="repassword"
                   ng-model="user.repassword">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="goDefault()">提交</button>
        </div>
    </form>
    <pre>{{userform | json}}</pre>
    <pre>{{user | json}}</pre>
</div>
</body>
<script src="../angular.js"></script>
<script>
    angular.module('zfpxMod',[]);
    angular.module('zfpxMod').controller('UserCtrl',function($scope){
        $scope.user = {};
        $scope.goDefault = function(){
            $scope.user = {password:'password',repassword:'repassword'}
        }
    });
    angular.module('zfpxMod').directive('samePassword',function(){
        return {
             require:'ngModel',
             link:function(scope,element,attrs,ngModel){
                 //当scope上值改变之后，下列函数会被依次调用，最终的返回值会写到视图上
                /* ngModel.$formatters.push(function(ModelValue){
                    return 'prefix:'+ModelValue;
                 });

                 //当视图改变之后，列函数会依次调用，最终存到scope上的是最后的值
                 ngModel.$parsers.push(function(viewValue){
                     return viewValue.slice(7);
                 });*/
                  //验证器
                 ngModel.$validators.xxx = function(modelValue){
                     //console.log(scope.$eval(attrs.samePassword);
                     return modelValue == scope.$eval(attrs['samePassword']);
                 }

                 scope.$watch(function(){
                     console.log(scope.$eval(attrs['samePassword']));
                     return scope.$eval(attrs['samePassword']);
                 },function(){
                     ngModel.$setValidity('xxx',ngModel.$viewValue == scope.$eval(attrs['samePassword']));
                 });


             }
        }
    });
</script>
</html>
