//1.单行注释 //
//2非缓冲注释 //-
doctype html
html
    head
        title hello world
        style.
            body {color:red}
        script.
            var name = "zfpx";
    body
        h1#myh1.myclass.myclass2(name="myname",age="6") zpfx6
        #testId.testName
            a(href="http://www.zhufengpeixun.cn") 链接
            input(name='name',type='text',value='zfpx')
        #content(style="border:1px solid red;")
            | hello
            input(value='zfpx')
            <input value='world'>
            | world
        #content2.
        // I am comment
        //-
            I am buffer comment
            fdgfd
            fdgdg
            dfgfdg

