// jade -P -w 4.var.jade -O var.json
doctype html
html
    head
        title hello world
        style.
            body {color:red}
        script.
            var name = "zfpx";
    body
        h1 #{lesson.toUpperCase()+"like"}


